// Rename this to 'Secrets.h' and add your own secrets
const char *WIFI_SSID = "MY_WIFI_SSID";
const char *WIFI_PSK = "MY_WIFI_SSID";
const char *MQTT_HOST_IP = "192.168.1.111";
const char *MQTT_USERNAME = "MY_MQTT_USERNAME";
const char *MQTT_PASSWORD = "MY_MQTT_PASSWORD";
const char *DEVICE_NAME = "very-cool-device";
const char *ADMIN_PASSWORD = "MY_ADMIN_PASSWORD";
